# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Assets/AssetStoreTools*

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.suo
*.pidb
*.booproj
*.svd

# Unity generated IDE files
*.unityproj

# Rider
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db